@page "/adversary/{AdversaryId:int}/delete/"

@using SpiritIslandLogger.Web.Data
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>

@if (adversary == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <dl class="">
        <dt>
            Name
        </dt>
        <dd>
            @adversary.Name
        </dd>
    </dl>
}

<EditForm OnSubmit="DeleteItem" Model="AdversaryId">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <NavLink href="./"><button class="btn">Cancel</button></NavLink>
</EditForm>
@code {
#nullable enable

    [Parameter]
    public int? AdversaryId { get; set; }

    private Adversary? adversary;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (!AdversaryId.HasValue)
        {
            NavigateToIndex();
            return;
        }

        adversary = await DbContext.Adversaries.FindAsync(AdversaryId);
        if (adversary is null)
        {
            NavigateToIndex();
        }
    }

    private async Task DeleteItem()
    {
        if (adversary is null)
        {
            NavigateToIndex();
            return;
        }

        DbContext.Adversaries.Remove(adversary);
        await DbContext.SaveChangesAsync();
        
        NavigateToIndex();
    }

    private void NavigateToIndex()
    {
        Navigation.NavigateTo("/adversaries");
    }
}