@page "/adversary/{AdversaryId:int}/edit/"

@using SpiritIslandLogger.Web.Data
@using System.ComponentModel.DataAnnotations
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation

<h2>Edit</h2>
@if (adversaryVm == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm Model="@adversaryVm" OnValidSubmit="@UpdateSpirit">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="Name">Name</label>
            <InputText @bind-Value="adversaryVm.Name" class="form-control" id="Name"></InputText>
            <ValidationMessage For="() => adversaryVm.Name"/>
        </div>
        <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <table id="difficulty">
                <thead>
                <tr>
                    <th>
                        Base
                    </th>
                    @for (int i = 1; i <= 6; i++)
                    {
                        <th>
                            Level @i
                        </th>
                    }
                </tr>
                </thead>
                <tbody>
                <tr>
                    @foreach (var id in adversaryVm.Difficulty.Select((item, id) => id))
                    {
                        <td>
                            <InputNumber @bind-Value="adversaryVm.Difficulty[id].Value"></InputNumber>
                        </td>
                    }
                </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </EditForm>}

@code {
#nullable enable

    private class BoxedInt
    {
        [Range(1, 11)]
        public int Value { get; set; }
    }

    private class AdversaryViewModel
    {
        [Required]
        public string Name { get; set; } = "";

        public BoxedInt[] Difficulty { get; init; } = Enumerable.Range(1, 7).Select(i => new BoxedInt { Value = i }).ToArray();
    }

    [Parameter]
    public int? AdversaryId { get; set; }

    private Adversary? adversary;
    private AdversaryViewModel? adversaryVm;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (!AdversaryId.HasValue)
        {
            NavigateToIndex();
            return;
        }

        adversary = await DbContext.Adversaries.FindAsync(AdversaryId);
        if (adversary is null)
        {
            NavigateToIndex();
            return;
        }
        adversaryVm = new AdversaryViewModel
                      {
                          Name = adversary.Name,
                          Difficulty = adversary.Difficulty.Select(v => new BoxedInt { Value = v }).ToArray(),
                      };
    }

    private async Task UpdateSpirit()
    {
        if (adversary is null)
        {
            NavigateToIndex();
            return;
        }

        adversary.Name = adversaryVm.Name;
        adversary.Difficulty = adversaryVm.Difficulty.Select(v => v.Value).ToArray();

        DbContext.Adversaries.Update(adversary);
        await DbContext.SaveChangesAsync();

        NavigateToDetails();
    }

    private void NavigateToIndex()
    {
        Navigation.NavigateTo("/adversaries");
    }

    private void NavigateToDetails()
    {
        Navigation.NavigateTo($"/adversary/{AdversaryId}/details");
    }

}