@page "/"
@using SpiritIslandLogger.Web.Data
@using Microsoft.EntityFrameworkCore
@using SpiritIslandLogger.Web.Service

<h1>Write their Words in Stone</h1>
<StatsPage></StatsPage>

@inject ApplicationDbContext Context

@inject StatsService StatsService

@code {
#nullable enable

}