@page "/"
@using SpiritIslandLogger.Web.Data
@using Microsoft.EntityFrameworkCore

<h1>Write their Words in Stone</h1>

@if (GameCount.HasValue)
{
    <div>@GameCount games recorded</div>
}
else
{
    <div>Loading statistics</div>
}

@inject ApplicationDbContext Context
@code {
    int? GameCount { get; set; }
    protected override async Task OnInitializedAsync()
    {
        GameCount = await Context.Games.CountAsync();
    }
}